.b{ border:1px solid red; }

/* Variables */
:root{ --main-bg-color:#cccccc; }
.a{ background-color: var(--main-bg-color); }

/* Display grid */
.grid-container{
    /* repeat(4, 1fr) / repeat 4 fois divisé en 1 fraction */
    display:grid;
    grid-template-columns:auto auto auto auto;
    grid-column-gap:10px;
}
.grid-container > div.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 0;
}








